@media (max-width: 426px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 32px;
        text-align: center;
        padding-top: 238px;

        &__heading {
            text-align: center;
            font-size: 32px;
            margin-bottom: 0;
        }

        &__disc {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 0;
        }

        &__btn {
            align-self: center;
            margin-bottom: 238px;
        }
    }

    .games-box {
        flex-wrap: wrap;

        &__img {
            width: calc(100vw - 32px);
            height: 300px;
        }
    }

    .seasons {
        flex-direction: column;
        gap: 64px;
        padding-top: 51px;
        padding-bottom: 86px;

        &__game-info {
            text-align: center;
        }

        &__heading {
            text-align: center;
            font-size: 32px;

        }

        &__disc {
            font-size: 14px;
            line-height: 22px;

        }

        &__btn {
            align-self: center;
        }

        &__img {
            width: calc(100vw - 32px);
        }
    }
    .rememberWord {
        flex-direction: column;
        gap: 64px;
        padding-top: 51px;
        padding-bottom: 90px;

        &__game-info {
            text-align: center;
        }

        &__heading {
            text-align: center;
            font-size: 32px;

        }

        &__disc {
            font-size: 14px;
            line-height: 22px;

        }

        &__btn {
            align-self: center;
        }

        &__img {
            width: calc(100vw - 32px);
            order: 1;
        }
    }
}