* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #000915;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-image: url(img/top__back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 128px;
  padding-top: 216px;
}
.top__heading {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 32px;
}
.top__disc {
  max-width: 481px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  /* 177.778% */
  margin-bottom: 44px;
}
.top__disc_span {
  font-weight: 700;
}
.top__btn {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 494px;
  border: none;
}
.top__btn:hover {
  cursor: url(img/cursor-hand-lines.svg), pointer;
  background: #EB443F;
}

.games-box {
  margin-bottom: 128px;
  display: flex;
  gap: 32px;
}

.game-card {
  position: relative;
}
.game-card__img {
  max-width: 100%;
  border-radius: 16px;
}
.game-card__name {
  position: absolute;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  /* 133.333% */
  bottom: 32px;
  left: 32px;
}
.game-card:hover {
  cursor: url(img/cursor-hand-lines.svg), pointer;
  border-radius: 16px;
  outline: 3px solid #44D2FF;
}

.seasons {
  padding-top: 234px;
  padding-bottom: 234px;
  display: flex;
  gap: 135px;
  align-items: center;
}
.seasons__game-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.seasons__heading {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
.seasons__disc {
  max-width: 584px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}
.seasons__btn {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  border: none;
}
.seasons__btn:hover {
  cursor: url(img/cursor-hand-lines.svg), pointer;
  background: #EB443F;
}

.rememberWord {
  padding-top: 239px;
  padding-bottom: 239px;
  display: flex;
  gap: 135px;
  align-items: center;
}
.rememberWord__game-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.rememberWord__heading {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
.rememberWord__disc {
  max-width: 584px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}
.rememberWord__btn {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  border: none;
}
.rememberWord__btn:hover {
  cursor: url(img/cursor-hand-lines.svg), pointer;
  background: #EB443F;
}

@media (max-width: 426px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    padding-top: 238px;
  }
  .top__heading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 0;
  }
  .top__disc {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
  }
  .top__btn {
    align-self: center;
    margin-bottom: 238px;
  }
  .games-box {
    flex-wrap: wrap;
  }
  .games-box__img {
    width: calc(100vw - 32px);
    height: 300px;
  }
  .seasons {
    flex-direction: column;
    gap: 64px;
    padding-top: 51px;
    padding-bottom: 86px;
  }
  .seasons__game-info {
    text-align: center;
  }
  .seasons__heading {
    text-align: center;
    font-size: 32px;
  }
  .seasons__disc {
    font-size: 14px;
    line-height: 22px;
  }
  .seasons__btn {
    align-self: center;
  }
  .seasons__img {
    width: calc(100vw - 32px);
  }
  .rememberWord {
    flex-direction: column;
    gap: 64px;
    padding-top: 51px;
    padding-bottom: 90px;
  }
  .rememberWord__game-info {
    text-align: center;
  }
  .rememberWord__heading {
    text-align: center;
    font-size: 32px;
  }
  .rememberWord__disc {
    font-size: 14px;
    line-height: 22px;
  }
  .rememberWord__btn {
    align-self: center;
  }
  .rememberWord__img {
    width: calc(100vw - 32px);
    order: 1;
  }
}/*# sourceMappingURL=style.css.map */