@import 'vars';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #000915;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-image: url(img/top__back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 128px;
    padding-top: 216px;

    &__heading {
        color: $colorText;
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 32px;
    }

    &__disc {
        max-width: 481px;
        color: $colorText;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        /* 177.778% */
        margin-bottom: 44px;

        &_span {
            font-weight: 700;
        }
    }

    &__btn {
        width: 234px;
        height: 48px;
        border-radius: 30px;
        background: #9C0332;
        color: $colorText;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 494px;
        border: none;

        &:hover {
            cursor: url(img/cursor-hand-lines.svg), pointer;
            background: #EB443F;
        }
    }
}

.games-box {
    margin-bottom: 128px;
    display: flex;
    gap: 32px;
}

.game-card {
    max-width: calc((100vw - (padding-left + padding-right) - 64px) /2);
    position: relative;

    &__img {
        max-width: 100%;
        border-radius: 16px;
    }

    &__name {
        position: absolute;
        color: $colorText;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        /* 133.333% */
        bottom: 32px;
        left: 32px;
    }

    &:hover {
        cursor: url(img/cursor-hand-lines.svg), pointer;
        border-radius: 16px;
        outline: 3px solid #44D2FF;
    }
}


@import 'mobile';